
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #f0f0f0; 
    height: auto;
    margin: 0;
}


#formulario {
    width: 450px;
    height: auto;
    background-color: rgb(38, 240, 146);
    font-family: "Caveat", cursive;
    font-size: 10;
    margin: auto;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); 
}


#button {
    width: 100px;
    height: 40px;
    margin: 20px auto; 
    background-color: #04854f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s; 
}

#button:hover {
    background-color: #93ffbc;
    color: black;
}

.btn-go{
    width: 100px;
    height: 40px;
    margin: 20px auto; 
    background-color: #04854f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s; 
}
.btn-go:hover {
    background-color: #93ffbc;
    color: black;
}

.pendiente {
    background-color: rgb(248, 179, 76);
    color: rgb(0, 0, 0);
    border-radius: 20px;
    padding: 8px;
    margin-right: 5px;
    font-style: italic;
    font-weight: bold;
}
.enviada{
    background-color: whitesmoke;
    color: rgb(0, 0, 0);
    border-radius: 20px;
    padding: 8px;
    margin-right: 5px;
    font-style: italic;
    font-weight: bold;
}  


.conteiner {
    max-width: 500px;
    margin: 20px auto; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); 
}


h2 {
    font-size: 24px;
    margin-bottom: 20px;
}


label {
    display: block;
    margin-bottom: 5px;
}


input[type="text"],
select,
input[type="email"] { 
    width: 90%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}



#list {
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;    
}
.datos{
    color: rgb(0, 0, 0);
    border-radius: 20px;
    padding: 8px;
    margin-right: 5px;
    font-style: italic;
    font-weight: bold;
    display: flex;
    flex-direction: row; 
    justify-content:space-between;
    width: 100%;
    align-items: flex-start;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    width: 800px;
    background-color: whitesmoke;
}

.boton_dato {
    width: 80px;
    height: 30px;
    margin: 5px auto; 
    background-color: #04854f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s; 
}

#boton_dato:hover {
    background-color: #93ffbc;
    color: black;
} 
.rounded-circle{
    
    width: 180px;
    height: 180px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    margin-block-end: 20px;
    border-radius: 50%;           
}
.img-ppal{
    display: flex; 
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 750px; 
    height: 220px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    margin: 15px;
    padding: 15px;
} 

    

  
   